@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

* {
    box-sizing: border-box;
}

body {
    font-size: 15px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass', sans-serif;
    background-color: var(--very-dark-blue);
}

.rate__us {
    
    background: radial-gradient(ellipse at top, var(--dark-blue), transparent),
    radial-gradient(ellipse at bottom, #1A212B, transparent);
    border-radius: 30px;
    width: 30vw;
    height: 63vh;
    padding: 30px;
}

.star__icon {
    background-color: #1C252E;
    border-radius: 30px;
    padding: 15px;
}

.title__rate {
    color: var(--white);
    font-weight: 700;
    font-size: 26px;
    margin: 30px 0px 0px 0px;
}

.text__rate {
    color: var(--light-grey);
    line-height: 1.5;
}

.choose {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    margin-top: 25px;
}

.numbers {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    color: var(--light-grey);
    background-color: #262F38;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.sub {
    color: var(--white);
    background-color: var(--orange);
    border-radius: 25px;
    width: 26vw;
    height: 7vh;
    text-transform: uppercase;
    border: none;
    font-weight: 700;
    letter-spacing: 0.2em;
    cursor: pointer;
}


.thanks {
    
    background: radial-gradient(ellipse at top, var(--dark-blue), transparent),
            radial-gradient(ellipse at bottom, #1A212B, transparent);
    border-radius: 30px;
    width: 29vw;
    height: 60vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.phone__icon {
    padding-top: 60px;
    margin-bottom: 15px;
}

.rating__text {
   color: var(--orange);
   background-color: #272E38;
   padding: 5px 20px;
   margin-bottom: 5px;
   border-radius: 20px;
   
}

.tks {
    color: var(--white);
    font-weight: 700;
    font-size: 26px;
    margin: 30px 0px 0px 0px;
}

.tks__text {
    color: var(--light-grey);
    line-height: 1.5em;
    text-align: center;
    padding-bottom: 30px;
}

.numbers:hover{
background-color: var(--light-grey);
color: var(--white);
}
.numbers:focus{
color: var(--white);
background-color: var(--orange);
}
.sub:hover{
    color: var(--orange);
    background-color: var(--white);
}
